    <div class="row">
    	<p class="m-page-title center_table">پروفایل شخصی شما</p>
        <div class="col-md-6 center_table">
		    <blockquote>
		    	<p>
		    		<br>
					<strong>نام:</strong>
				  	<%= @profile.name %><br><br>
				  	<strong>شماره تماس:</strong>
				  	<%= @profile.phone_number %>
				  	<br>
			  </p>
			  <br>
				<%= link_to 'ویرایش پروفایل', edit_profile_path(@profile) %>  &nbsp;|&nbsp;
				<%= link_to 'بازگشت به صفحه ی اصلی', root_path %>
				<br><br>
				<% if current_user.relatives.blank? %>
					<strong><%= link_to "نزدیکان خود را به ما معرفی کنید تا بتوانیم به ایشان اطلاع دهیم", new_relative_path %></strong>
				<% end %>
  	        </blockquote>
        </div>
    </div>


