<p id="notice"><%= notice %></p>

<h1>Listing Box Parts</h1>

<table>
  <thead>
    <tr>
      <th>Part num</th>
      <th>Prow</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @box_parts.each do |box_part| %>
      <tr>
        <td><%= box_part.part_num %></td>
        <td><%= box_part.prow_id %></td>
        <td><%= link_to 'Show', box_part %></td>
        <td><%= link_to 'Edit', edit_box_part_path(box_part) %></td>
        <td><%= link_to 'Destroy', box_part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Box part', new_box_part_path %>
