<p id="notice"><%= notice %></p>

<p>
  <strong>Part num:</strong>
  <%= @box_part.part_num %>
</p>

<p>
  <strong>Prow:</strong>
  <%= @box_part.prow_id %>
</p>

<%= link_to 'Edit', edit_box_part_path(@box_part) %> |
<%= link_to 'Back', box_parts_path %>
