
<p class ="m-page-title center_table">ایجاد حساب کاربری</p>
<div class="col-md-6 center_table">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label 'ایمیل:' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label 'رمز عبور:' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= f.password_field :password, autocomplete: "off" %>&nbsp;حداقل ۸ کاراکتر
            </div>

            <div class="field">
              <%= f.label 'تکرار رمز عبور:' %>&nbsp;&nbsp;
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <div class = "center" class="actions">
              <%= f.submit "ایجاد حساب" ,:class => "btn btn-default"%>
            </div>
          <% end %>
          <br>
          <div class = "center"><%= render "devise/shared/links" %><div>
      </div>
    </div>
</div>
</div>
