<div class="row">
  <p class ="m-page-title center_table">نسخه ها</p>
  <div class="col-md-6 center_table">
    <!--   Kitchen Sink -->
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                      <th>عنوان </th>
                      <th>گزینه </th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @prescriptions.each do |prescription| %>
                    <% if current_user.id == prescription.user_id %>
                      <tr>
                        <td><%= prescription.doctor_name %></td>
                        <td><%= link_to 'نمایش نسخه', prescription , :remote => true %> &nbsp;|&nbsp;
                        <%= link_to 'ویرایش', edit_prescription_path(prescription, :title => "edit") , :remote => true %> &nbsp;|&nbsp;
                        <%= link_to 'حذف', prescription, method: :delete, data: { confirm: 'آیا اطمینان دارید؟' } %></td>
                        </tr>
                    <% end %>
                  <% end %>
                  </tbody>
              </table>
            </div>
          <div class="center"><%= link_to 'نسخه جدید', new_prescription_path(:title => "new") , :remote=> true %></div>
        </div>
      </div>
    </div>
</div>