  <div class = "row">
    <p class ="m-page-title center_table">داروهای نسخه <%= @prescription.doctor_name %></p>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                          <tr>
                              <th>نام</th>
                              <th>توضیحات دارو&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                              <th>تعداد</th>
                              <th>دوره</th>
                              <th>گزینه ها</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @prescription.prows.each do |prow| %>
                            <% if current_user.id == @prescription.user_id && prow.prescription_id = @prescription.id%>
                              <tr>
                                <td><%= prow.drug.name %></td>
                                <td><%= prow.drug.description %></td>
                                <td><%= prow.qty %></td>
                                <td><%= prow.period %></td>
                                <td><%= link_to 'ویرایش ', edit_prow_path(prow ,:prid => @prescription.id , :title => "edit") %>&nbsp;|&nbsp;
                                <%= link_to 'حذف', prow, method: :delete, data: { confirm: 'آیا اطمینان دارید؟' } %></td>
                              </tr>
                            <% end %>
                          <% end %>
                      </tbody>
                    </table>
                </div>
              <div class="center"><%= link_to 'بازگشت به صفحه نسخه ها', prescriptions_path %>
              &nbsp;|&nbsp;
              <%= link_to 'افزودن داروی جدید به نسخه',  new_prow_path(:prid => @prescription.id,:title => "new") %></div>
      </div>
    </div>
  </div>
</div>

