<p id="notice"><%= notice %></p>

<p class="page-head-line">یادآوری</p>

    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                          <tr>
                            <th>روش یادآوری</th>
                            <th>دریافت کننده</th>
                            <th>گزینه ها</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @notifications.each do |notification| %>
                            <% if current_user.id == notification.user_id%>
                              <tr>
                                <% if notification.noti_type == false %>
                                  <td><%= 'ایمیل' %></td>
                                <% else%>
                                  <td><%= 'شماره تماس' %></td>
                                <% end %>
                                <td><%= notification.destination %></td>
                                <td><%= link_to 'ویرایش', edit_notification_path(notification) %>&nbsp;|&nbsp;
                                <%= link_to 'حذف', notification, method: :delete, data: { confirm: 'آیا اطمینان دارید؟' } %></td>
                              </tr>
                            <% end %>
                          <% end %>
                      </tbody>
                    </table>
                </div>
              <div class="center"><%= link_to 'یادآوری جدید', new_notification_path %></div>
            </div>
          </div>
        </div>
      </div>
    </div>


