<div class = "row">
  <% if params[:title]== "new" %>
        <p class ="m-page-title center_table">افزودن نزدیکان</p>
  <% else %>
        <p class ="m-page-title center_table">ویرایش مشخصات نزدیکان</p>
  <% end %>
  <div class="col-md-6 center_table">
      <div class="panel panel-default">
        <div class="panel-heading"></div>
          <div class="panel-body">
            <%= form_for(@relative) do |f| %>
              <% if @relative.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@relative.errors.count, "error") %> prohibited this relative from being saved:</h2>

                  <ul>
                  <% @relative.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="field">
                <%= f.label 'نام' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= f.text_field :name , :required => true %>
              </div>
              <div class="field">
                <%= f.label 'ایمیل:' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= f.text_field :email, :required => true %>
              </div>
              <div class="field">
                <%= f.label 'شماره تماس:' %>&nbsp;
                <%= f.text_field :phone_number , :required => true %>
              </div>
              <div class="center" class="actions">
                <%= f.submit (f.object.new_record? ? "افزودن" : "به روز رسانی") ,:class => "btn btn-default"%>
              </div><br>
              <div class="center"><%= link_to 'بازگشت به صفحه ی نزدیکان', relatives_path %></div>

            <% end %>
      </div>
    </div>
  </div>
</div>