<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @relative.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @relative.phone_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @relative.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @relative.name %>
</p>

<%= link_to 'Edit', edit_relative_path(@relative) %> |
<%= link_to 'Back', relatives_path %>
