  <div class="col-md-6">
    <p class="page-head-line">ورود به حساب</p>

        <div class="panel panel-default">
          <div class="panel-heading"></div>
            <div class="panel-body">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                
                <div class="field">
                  <%= f.label 'ایمیل:' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= f.email_field :email, autofocus: true, autocomplete: "on" %>
                </div>

                <div class="field">
                  <%= f.label 'رمز عبور:' %>
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>

                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label 'مرا به خاطر بسپار' %>
                  </div>
                <% end -%>

                <div class = "center" class="actions">
                  <%= f.submit "ورود",:class => "btn btn-default" %>
                </div>
              <% end %>
              <br>
              <div class = "center"><%= render "devise/shared/links" %><div>
          </div>
      </div>
  </div>
</div>