<%= form_for(@consumption) do |f| %>
  <% if @consumption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumption.errors.count, "error") %> prohibited this consumption from being saved:</h2>

      <ul>
      <% @consumption.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_time, :required => true %><br>
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :take_status, :required => true %><br>
    <%= f.text_field :take_status %>
  </div>
  <div class="field">
    <%= f.label :prow_id %><br>
    <%= f.number_field :prow_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
